<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Stylish Blog</title>
    <!-- Google Fonts ile Montserrat yazı tipini dahil ediyoruz -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <!-- Stil dosyasına bağlantı -->
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <!-- Başlık kısmı -->
    <header>
        <div class="container">
            <h1>My Stylish Blog</h1>
        </div>
    </header>
    
    <!-- Blog gönderileri kısmı -->
    <section class="blog-posts container">
        <!-- İlk blog yazısı -->
        <article>
            <img src="/static/images/quiz_web_site.jpg" alt="Blog Post Image">
            <h2>Flask API ile Dinamik Quiz Web Sitesi Oluşturma</h2>
            <p>Flask nedir ve neden kullanılır? Dinamik web siteleri oluşturmanın avantajları.</p>
            <a href="blog1.html" class="read-more">Read More</a>
        </article>

        <!-- İkinci blog yazısı -->
        <article>
            <img src="/static/images/ai_image_classification.jpg" alt="Blog Post Image">
            <h2>Yapay Zeka ile Görüntü Sınıflandırma</h2>
            <p>Görüntü sınıflandırmanın önemi ve uygulama alanları. CNN ve LSTM nedir?</p>
            <a href="blog2.html" class="read-more">Read More</a>
        </article>

        <!-- Üçüncü blog yazısı -->
        <article>
            <img src="/static/images/restful_api.jpg" alt="Blog Post Image">
            <h2>Flask ile RESTful API Tasarımı</h2>
            <p>RESTful API nedir ve neden önemlidir? Flask ile RESTful API oluşturmanın avantajları.</p>
            <a href="blog3.html" class="read-more">Read More</a>
        </article>
    </section>

    <!-- Altbilgi -->
    <footer>
        <div class="container">
            <p>&copy; 2024 My Stylish Blog | All Rights Reserved</p>
        </div>
    </footer>
</body>
</html>
